.container {
    padding: 10px;
    text-align: center;
    font-size: 2em;
    color: #ffeead;
    list-style-type: none;
}
body {
    margin: 0;
    font-family: sans-serif;
}
html, body {
    box-sizing: border-box;
    height: 100%;
    padding: 10px;
    background-color: #ffeead;
}
.container {
    background-color: #96ceb4;
}
